﻿<!DOCTYPE html>
<html>
<head>
    <title>Pong</title>
</head>
<body>
    <h2>WELCOME TO THE FINAL LEVEL</h2>
    <h4>
        A FEW TIPS:
        1) Do not try to hit the ball as that will decrease your score by 2 points, let the ball hit the side walls that will give you two points.
        if the ball hit the upper and lower wall that will decrease 1 point
        <br />
        2) Let your opponent touch the ball this will decrease your point by 1
        <br />
        PLAY ACCORDINGLY!
    </h4>
    SCORE: {{this.finalsc}}
    <canvas #PongCanvas width="{{width}}" height="{{height}}"></canvas>
    <input type="button" value="START THE GAME" (click)="gamestart3()" />

</body>
</html>
