﻿<!DOCTYPE html>
<html>
<head>
    <title>Pong</title>
</head>
<body>

     <h2>
         LEVEL 1
     </h2>
    <h3>
        Normal pong rules!! enjoy!
        Minimum score to go to level two would be 15
    </h3>
    SCORE: {{this.finalsc}}

    <canvas #PongCanvas width="{{width}}" height="{{height}}"></canvas>
    <input type="button" value="START THE GAME" (click)="gamestart()" />



</body>
</html>
