﻿<html>
<head>
    <style>
        h1 {
            text-align: center;
        }

        h3 {
            text-align: center;
        }

        p {
            text-align: center;
        }
    </style>
</head>
<body style="background-image:url(./draw_racket.png)">
    <h1>
        <font color="red">
            WELCOME TO MODIFIED-PONG!!!!
        </font>
    </h1>


    <h3>
        <font color="blue"> Please enter the following details to play the game!</font>
    </h3>
    <p>Player name:</p>
    <p><input id="plname" type="text" [(ngModel)]="play.Player_name"></p>
    <br>
    <p>Enter any unique digit ID:</p>
    <p><input id="ID" type="number" [(ngModel)]="play.Player_id"></p>
    <br>
    <p><input type="button" value="LETS PLAY" (click)="SavePlayer()" /></p>

</body>
</html>


<!--<p>
        character roles are as follows enter the number please:
        1)Pikachu
        2)Charizard
    </p>
    <p><input id="char_role" type="text" [(ngModel)]="play.Character_role"></p>-->
