﻿<!DOCTYPE html>
<html>
<head>
    <title>Pong</title>
</head>
<body>
    <h5>WELCOME TO LEVEL 2</h5>
    <h4>
        A FEW TIPS TO PLAY:
        <br />
        Minimum score is 25
        <br />
        1)do not let the ball hit the upper and lower wall, else you fail!
        <br />
        2) There is a timer of 5 minutes in the game, which is not made visible so that, its more fun!!! enjoy!
    </h4>
    SCORE: {{this.finalsc}}
    <canvas #PongCanvas width="{{width}}" height="{{height}}"></canvas>
    <input type="button" value="START THE GAME" (click)="gamestart()" />
</body>
</html>
